/*전체적인 스타일*/
html {
    background-color:  #fffdd0;
    height: 100%;
    margin: 0;
}
::-webkit-scrollbar {
    width: 10px; /* 스크롤바의 폭 설정 */
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 30px;
    border: 2px solid gray;
}

body {
    background-color: transparent;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

div.wrap {
    background-color: transparent;
    width: 100%;
    min-width: 500px;
    height: 1080px;
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
}

li > a:hover {
    text-decoration: underline;
}

/*태그 스타일*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: #fffdd0;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
}

nav {
    float: left;
    width: 100%;
    background-color: #556b2f;
}

section {
    float: left;
    width: 100%;
    height: 80%; 
    background-color: #fffdd0;
}

footer {
    float: left;
    width: 100%;
    height: 15%;
    background-color: plum;
}

/*타이틀*/
.title-container {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
h1.title {
    display: inline;
    color: #333333;
    white-space: nowrap;
    margin: 0;
}


.title_logo {
    margin-right: 10px;
    height: 40px;
}

/* 검색 */
header > .container {
    width: 30%;
    display: flex;
    justify-content: flex-end;
}
header .search {
    display: flex;
    align-items: center;
    border: 5px solid #1f3f5f;
    background-color: #fff;
}
.search input {
    height: 40px;
    padding: 0 20px;
    border: 0;
    box-sizing: border-box;
    background: none;
    min-width: auto;
}

/*화면 크기가 768px 이하일 때*/
@media (max-width: 768px) {
    header {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .title-container {
        margin-bottom: 10px;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
    }

    header > .container {
        width: 100%;
        justify-content: center;
        margin-top: 10px;
        margin-top: 50px;
    }

    .search {
        width: 100%;
        margin-right: 0;
    }

    .search input {
        width: 100%;
        min-width: 0;
    }
}
/*navigation 메뉴바*/
nav > container {
    width: 100%;
    margin: 0 auto;
}

ul.nav_bar {
    width: 100%;
    margin: 0 auto;
    float: left;
    text-align:center; 
    background-color: #556b2f;
    padding: 8px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

ul.nav_bar > li {
    list-style-type: none;
    padding-left: 32px;
    text-align:center; 
    display: inline-block;
}

ul.nav_bar > li:first-child {
    padding-left:8px;
}

ul.nav_bar > li:last-child {
    padding-right:8px;
}

/*섹션에 들어가는 내용*/
div.container {
    width: 100%;
}

.colortest {
    display: block;
}

.colortest > div {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/* 레시피 스타일 */
.recipe {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto;
}

.recipe-name {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.recipe-image {
    text-align: center;
    margin-bottom: 20px;
}

.recipe-image img {
    max-width: 100%;
    border-radius: 10px;
}

.recipe-info {
    text-align: center;
}

.recipe-ratingtime {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.recipe-rating,
.recipe-time {
    margin-top: 20px;
    margin: 0 10px;
}
.recipe-rating > span {font-weight: bold;}
.recipe-time > span {font-weight: bold;}

.recipe-ingredients,
.recipe-calories,
.recipe-nutrients,
.recipe-method {
    margin-top: 20px;
    flex: 1 1 100%;
}

.recipe-ingredients h3,
.recipe-method h3 {
    margin-top: 0;
}

.recipe-ingredients ul {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
}
.recipe-ingredients ul li {
    display: block;
    margin: 5px 0;
}

.recipe-method ol {
    list-style-position: decimal;
    margin-top: 20px;
    padding-left: 30%;
    text-align: left;
}
.recipe-method ol li {
    display: list-item;
    margin: 5px 0;
}

/* 평점 */
#star-container {
    text-align: center;
    margin-top: 20px;
}

.star {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: gray;
    padding: 0;
}

.star:hover,
.star.hovered,
.star.selected {
    color: gold;
}
#star-container > span {
    font-weight: bold;
}
#average-rating {
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
}

/*footer에 들어가는 내용*/
.circle1 {
    background-color: #fffdd0;
}
.circle2 {
    background-color: #FFDA00;
}
.circle3 {
    background-color: black;
}
.circle4 {
    background-color: #556b2f;
}
.circle5 {
    background-color: #87CEEB;
}