/*전체적인 스타일*/
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

div.wrap {
    background-color: white;
    width: 100%;
    min-width: 500px;
    height: 1080px;
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
}

li > a:hover {
    text-decoration: underline;
}

/*태그 스타일 (색깔은 영역 구분 알 수 있게 임시조치 한 것)*/

header {
    float: left;
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: #fffdd0;
}

nav {
    float: left;
    width: 100%;
    height: 10%;
    background-color: black;
}

section {
    float: left;
    width: 100%;
    height: 80%; 
    background-color: #fffdd0;
}

article {}

footer {
    float: left;
    width: 100%;
    height: 15%;
    background-color: plum;
}

/*타이틀*/
h1.title {
    display: inline;
    color: #333333;
}

.title_logo {
    padding-right: 4px;
    height: 32px;
}

/*세부태그, 클래스 스타일*/
.subtitle {
    text-align: center;
}

/*navigation 메뉴바*/
ul.nav_bar {
    float: left;
    background-color: #556b2f;
    padding: 8px 0px 8px 0px
}

ul.nav_bar > li {
    list-style-type: none;
    float: left;
    padding-left: 32px;
}

ul.nav_bar > li:first-child {
    padding-left:8px;
}

ul.nav_bar > li:last-child {
    padding-right:8px;
}

/*섹션에 들어가는 내용*/
div.container {
    width: 100%;
}

.colortest {
    display: block;
}

.colortest > div {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/*요리 추천*/
.foodList {
}

.foodList > li {
    float: left;
    list-style-type: none;
}

.recommend {
    margin-left: 50px;
    width: 300px;
    height: 200px;
    border: 2px solid black;
    border-radius: 30px;
    transition: transform 0.1s;
    transform-origin: center;
}

.recommend:hover {
    transform: scale(1.05);
}

/*footer에 들어가는 내용*/
.circle1 {
    background-color: #fffdd0;
}
.circle2 {
    background-color: #FFDA00;
}
.circle3 {
    background-color: black;
}
.circle4 {
    background-color: #556b2f;
}
.circle5 {
    background-color: #87CEEB;
}